﻿@using Microsoft.Owin.Security
@{

    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().OrderBy(x => x.Caption);
}

<div class="social-auth-links text-center">
    <p>- OR -</p>

    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        foreach (AuthenticationDescription p in loginProviders)
        {
            var cssClassB = p.AuthenticationType.ToUpper().Contains("FACEBOOK") ? "btn-facebook" : "btn-google-plus";
            var cssClassI = p.AuthenticationType.ToUpper().Contains("FACEBOOK") ? "fa-facebook" : "fa-google-plus";

            <button type="submit" class="btn btn-block btn-social @cssClassB btn-flat" id="@p.AuthenticationType"
                    value="@p.AuthenticationType" title="Log in using your @p.Caption account" name="provider">
                <i class="fa @cssClassI"></i>
                Log in using your @p.Caption account
            </button>
        }
    }

</div><!-- /.social-auth-links -->