﻿@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
