﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/emptyCss")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="" />
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/icheck")
    @Scripts.Render("~/bundles/default")
    @RenderSection("scripts", required: false)
</body>
</html>
