﻿<script id="existingBanks" type="text/x-handlebars-template">
    {{#each banks}}
    <a href="#" id="bank{{Id}}" onclick="SettingsBankDetails({{Id}});">{{Name}}</a>
    <br />
    {{/each}}
</script>
