﻿@{
    ViewBag.Title = "Settings";
    ViewBag.SubTitle = "Configure bank's data extraction and others stuff.";
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            
            SettingsInit();
        });
    </script>

    @{Html.RenderPartial("_HandlebarsTemplates");}

}
<div class="row">
    <div class="col-md-11 nav-tabs-custom box box-primary" role="tabpanel">
        <!-- Nav tabs -->
        <ul id="tabBanks" class="nav nav-tabs" role="tablist" style="display: none;">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content box-body">
            <div role="tabpanel" class="fade in tab-pane active" id="home">

            </div>
            <div role="tabpanel" class="fade tab-pane" id="profile">tab2</div>
            <div role="tabpanel" class="fade tab-pane" id="messages">...</div>
            <div role="tabpanel" class="fade tab-pane" id="settings">...</div>
        </div>

    </div>
</div>