﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.SubTitle = "Resumen";
}

<div class="jumbotron">
    <h1>Megsoft Consulting Evaluation: Diomedes Domínguez</h1>
    <p class="lead">Programming Test para candidato de Megsoft Consulting Inc</p>
    <p><a href="~/Files/DiomedesDominguez.pdf" class="btn btn-primary btn-lg">Conocer más &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Empezando</h2>
        <p>Al acceder al sistema podrás registrar consultar las cuentas y transacciones del banco que selecciones.</p>

    </div>
    <div class="col-md-4">
        <h2>Movilidad</h2>
        <p>Gracias a nuestra API podrás acceder a estas informaciones desde tu propio aplicativo.</p>
    </div>
    <div class="col-md-4">
        <h2>¿No está el banco que deseas?</h2>
        <p>No hay problema, contacta al administrador del sistema para que le brinde un rápido soporte.</p>
        <p><a class="btn btn-default" href="mailto:diomedes.dominguez@gmail.com?subject=El%20banco%20que%20necesito%20no%20aparece">Contactar</a></p>
    </div>
</div>
